<div style="direction:rtl; text-align:right">

# المشروع الأول: قصة التايتانك بعيون علم البيانات

<div style="direction:rtl; text-align:right">
أهلاً بكم في المشروع الأول من علم البيانات. في هذا المشروع، سنكتشف سوية قصة التايتانك ولكن من خلال البيانات. يهدف هذا المشروع إلى التعريف بأهم خطوات تحليل البيانات واستكشاف المراحل المختلفة. سنستخدم بيانات الناجين من سفينة التايتنك والموجودة في موقع كاقل على الرابط التالي: https://www.kaggle.com/c/titanic

<div style="direction:rtl; text-align:right">
الهدف الأساسي من هذا المشروع هو استخدام هذه البيانات لفهم من هم الناجين من كارثة التايتانك؟ هل الناجين يمثلون عينة عشوائية أم أنهم من طبقات معينة؟ وكيف يمكن مقارنة الناجين بباقي المسافرين في التايتانك؟ وما إلى ذلك من أسئلة.

<div style="direction:rtl; text-align:right">
ملاحظة: لإكمال هذا المشروع، عليك تعديل الخانات التي يوجد فيها الكود أدناه قبل تسليم المشروع. جميع الخانات الأخرى يجب ان تبقى كما هي بدون أي 
تعديل.

```
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
```

In [1]:
pwd

'C:\\Users\\Dell\\Desktop\\project Barmej\\titank2\\data-science-project-1'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
pwd

'C:\\Users\\Dell\\Desktop\\project Barmej\\titank2\\data-science-project-1'

<div style="direction:rtl; text-align:right">

# قراءة البيانات

<div style="direction:rtl; text-align:right">
سنقوم أولاً باستخدام pd.read_csv لقراءة البيانات:

In [4]:
data = pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<div style="direction:rtl; text-align:right">
بعد أن قرأنا البيانات، سنقوم الآن باستعراض البيانات حتى نتأكد من قراءتها بشكل صحيح وذلك باستخدام الأمرين: head و info.

In [5]:
#لطباعة رأس الجدول نقوم باستخدام الأمر head
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
data.shape

(891, 12)

<div style="direction:rtl; text-align:right">
سنقوم الآن بطباعة بعض المعلومات الأساسية عن البيانات. في الخانة التالية، استخدم مخرجات الخانة السابقة (info) للإجابة عن الأسئلة مثل عدد الصفوف وعدد الأعمدة.

In [8]:


# كم عدد الصفوف ؟
nrows = 891
# كم عدد الأعمدة ؟
ncols = 12
# كم عدد الأعمدة الرقمية ؟ كم عدد الأعمدة الوصفية ؟
n_num_cols = 8
n_str_cols = 12

In [9]:
print('There are {0} rows and {1} columns in this dataset.'.format(nrows, ncols))
print('Of those columns, there are {0} numerical columns and {1} categorical columns.'.format(n_num_cols, n_str_cols))

There are 891 rows and 12 columns in this dataset.
Of those columns, there are 8 numerical columns and 12 categorical columns.

<div style="direction:rtl; text-align:right">
قم باستخدام مخرجات الأمر info مرة أخرى لمعرفة الأعمدة التي يوجد بها خانات فارغة وكم بكتابة أسماء الأعمدة في الخانة التالية.

In [10]:


# Look at the outputs at `data.info()` again..
# Which columns have missing values ?
# replace the empty list below with column names that have missing values
# for example: ['Name', 'Fare', 'Sex']

cols_with_missing_vals = ['Age' , 'Cabin' , 'Embarket']
cols_with_missing_vals

['Age', 'Cabin', 'Embarket']

In [11]:
print('The following columns have missing values: {0}'.format(cols_with_missing_vals))

The following columns have missing values: ['Age', 'Cabin', 'Embarket']

<div style="direction:rtl; text-align:right">

# تنظيف البيانات

<div style="direction:rtl; text-align:right">
سنقوم الآن بتنظيف البيانات. سنقوم أولاً بحذف الأعمدة التي لانحتاجها مثل PassengerId:

In [12]:
# delete 'PassengerId' column, using 'drop' command ; don't forget to include `inplace=True`
data.drop(columns='PassengerId', inplace=True)

<div style="direction:rtl; text-align:right">
سنقوم بتكرار نفس الأمر مع أعمدة Name و Ticket:

In [13]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# drop the columns `Name` and `Ticket` as well the same way

#data.drop(columns='Name' , inplace=True)
data.drop(columns='Ticket' , inplace=True)
data.drop(columns='Name' , inplace=True)

In [14]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [15]:
final_column_set = data.columns.tolist()

In [16]:
data.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [17]:
# We can print all values of Age using this command:
age_vals = data['Age'].values

<div style="direction:rtl; text-align:right">
للتأكد من أننا حصلنا على قيم العمر في مصفوفة، قم بإنشاء خانة جديدة وكتابة age_vals لطباعة المصفوفة..

<div style="direction:rtl; text-align:right">
في الخانة التالية، سنقوم بحساب متوسط العمر باستخدام numpy وذلك حتى نقوم باستخدام هذا الرقم لملء الخانات المفقودة في العمر.

In [18]:
mean_age=data['Age'].mean()
mean_age

29.69911764705882

In [19]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# here, print the command that extracts the mean age using numpy: 
mean_age = 29.6

In [20]:
assert np.allclose(mean_age, 29.69911764705882), 'You did not calculate the mean age correctly.'
print('OK!')

AssertionError: You did not calculate the mean age correctly.

In [ ]:
# Now, we will use the average age to fill in all missing values
a=data['Age'].fillna( mean_age, inplace=True)
a

<div style="direction:rtl; text-align:right">

# تحليل البيانات الاستكشافي

<div style="direction:rtl; text-align:right">
سنقوم الآن بتحليل البيانات الاستكشافي وهي عملية نقوم فيها بالتعرف على بعض الإحصائيات عن الأعمدة المختلفة

In [ ]:
data.head()

<div style="direction:rtl; text-align:right">
فمثلا: ماهي نسبة الناجين إلى مجموع المسافرين؟ نقوم باستخدام value_counts لحساب عدد الصفوف التي تحمل قيمة محددة:

In [ ]:
data['Survived'].value_counts()

<div style="direction:rtl; text-align:right">
قم بحساب نسبة الناجين بناء على الخانة السابقة:

In [ ]:
survived=data['Survived'].value_counts()
survived

In [ ]:
survived_sum=(survived / survived.sum()) *100
survived_sum

In [ ]:


survived_percentage = 38%

In [ ]:
print('About {0}% of people in this dataset have survived'.format(np.round(survived_percentage, 2)))

<div style="direction:rtl; text-align:right">
ونستطيع فعل الأمر مع الأعمدة المختلفة:

In [ ]:
data['Pclass'].value_counts()

In [ ]:
data['Sex'].value_counts()

In [ ]:
data['Parch'].value_counts()

In [ ]:
data['Embarked'].value_counts()

<div style="direction:rtl; text-align:right">
قم الآن بحساب نسبة الإناث الناجيات من إجمالي عدد الناجيين في الخانة التالية:

In [ ]:
female_percent=data['Sex'].value_counts()
female_percent

In [ ]:
female_percentage=(female_percent / female_percent.sum()) *100
female_percentage

In [21]:
# statment between column 'sex'  and 'Survived' result how many female + survived
ge=data['Sex'][data['Survived']==1]
ge

1      female
2      female
3      female
8      female
9      female
        ...
875    female
879    female
880    female
887    female
889      male
Name: Sex, Length: 342, dtype: object

In [ ]:
ge.value_counts()

In [22]:
fem_1=(ge / ge.sum()) * 100
fem_1

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################


female_survived_percentage =

<div style="direction:rtl; text-align:right">

# معلومات بغرض التصحيح

In [ ]:
print('nrows={}\nncols={}\nn_num_cols={}\nn_str_cols={}\nfinal_column_set={}\ncols_with_missing_vals={}\nmean_age={}\nsurvived_percentage={}\nfemale_survived_percentage={}'.format(
nrows,
ncols,
n_num_cols,
n_str_cols,
final_column_set,
cols_with_missing_vals,
mean_age,
survived_percentage,
female_survived_percentage
))

<div style="direction:rtl; text-align:right">
والآن يمكنك القيام بتسليم المشروع.

<div style="direction:rtl; text-align:right">
هذه لم تكن سوى جولة سريعة للتعرف على بيانات التايتانك بشكل سريع. بالطبع، إذا كنت تريد اكتشاف المزيد مما يمكن فعله بهذه البيانات فهناك عدد هائل من الدروس على الانترنت ندعوكم للاطلاع عليها مثل هذا الدرس:

- https://www.kaggle.com/sherylee/a-comprehensive-ml-workflow-with-python